<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874748530053-vfhqom7gr4o03u7bgctd3r7nht55c4tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874748530053-vfhqom7gr4o03u7bgctd3r7nht55c4tr</string>
	<key>API_KEY</key>
	<string>AIzaSyCE_cELsMO7-RusWWbDygITa5wN-r75oFo</string>
	<key>GCM_SENDER_ID</key>
	<string>874748530053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.crowdin.demo.CrowdinSDK</string>
	<key>PROJECT_ID</key>
	<string>crowdin-ebd41</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdin-ebd41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874748530053:ios:00bbbb0915002bcf</string>
	<key>DATABASE_URL</key>
	<string>https://crowdin-ebd41.firebaseio.com</string>
</dict>
</plist>